<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Signup Page</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class="signup-form" [formGroup]="signUpForm"
        (ngSubmit)="signupProcess()">

        <mat-form-field>
          <input matInput type="text" placeholder="firstname" formControlName="firstname">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="lastname" formControlName="lastname">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select  formControlName="role" >
            <mat-option *ngFor="let rolename of rolelist" [value]="rolename.value">
              {{rolename.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit">Sign Up</button>
      </form>
    </mat-card>
  </div>

  <div fxLayoutAlign="center center">
    <mat-card fxFlex="25">
      <h4> Go back to <a routerLink="/login"> Login </a></h4>
    </mat-card>
  </div>

</div>