<!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
<button mat-icon-button class="example-icon"
  aria-label="Example icon-button with menu icon">
</button>


<div class="container mt-4" #CreateJoinRoom [hidden]="createJoinRoomComponent">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input #clientname_text type="text" class="form-control" id="clientname-text" placeholder="Enter a Username">
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="form-group">
        <input #join_room_text class="form-control" id="join-room-text" type="text">
      </div>
    </div>
    <div class="col-md-6 text-center">
      <button #btn_join_room id="btn-join-room" class="btn btn-warning" (click)="joinRoom()">Join Room</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="hr-div">
        <hr>
      </div>
      <div class="or-div">OR</div>
      <div class="hr-div">
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <div #room_id id="room-id" class="room-id-text">
        xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
      </div>
    </div>
    <div class="col-md-6 text-center">
      <button #btn_create_room id="btn-create-room" class="btn btn-success" (click)="createRoom()">Create Room</button>
    </div>
  </div>
  <hr #horizontal_row id="horizontal-row" hidden>
  <div #div_select id="div-select" class="row" hidden>
    <div class="col-md-6">
      <select #audio_input_source name="audio-input-source" id="audio-input-source" (change)="changeDevice()"></select>
    </div>
    <div class="col-md-6">
      <select #video_input_source name="video-input-source" id="video-input-source" (change)="changeDevice()"></select>
    </div>
  </div>
  <hr>
  <div #video_display id="video-display" class="row mt-5">

  </div>
</div>


<div [hidden]="!createJoinRoomComponent">
  Hello THere!
</div>

<button id="toggle" class="btn btn-warning" (click)="toggle()">Toggle</button>
