.room-id-text {
    background-color: #d3d3d363;
    height: 100%;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 5px;
}

.or-div {
    text-align: center;
    float: left;
    margin-top: 4px;
    width: 6%;
}

.hr-div {
    float: left;
    width: 47%;
}
